<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CLIENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
<ion-item>
  <ion-label position="stacked">Nombre</ion-label>
  <ion-input type="text" placeholder="Ingrese nombre"> </ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input type="email" placeholder="Ingrese email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Teléfono</ion-label>
  <ion-input type="tel" placeholder="Ingrese telefono"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Igreso</ion-label>
  <ion-input type="number" placeholder="Ingreso mensual"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Procedencia</ion-label>
  <ion-input type="text" placeholder="Procedencia"></ion-input>
</ion-item>

  
  
  <ion-button shape="round" color="primary" expand="block" padding>Confirmar</ion-button>
  
</ion-content>
